.clearfix
  %a.large-type.svg.logo.left{href: '/'}
    = signature

  %ul.medium-type.right.inline-list.right-links
    %li
      %a{href: '#', class: 'nav-reveal'} Artworks
    %li
      %a{target: '_blank', href: "mailto:&#109;za%72ov&#110;y@g%6d&#97;%69&#108;.c%6fm?subject=%5Bmikhailzarovny.com%5D%20Visitor%20Contact&amp;body=Mikhail%2C".html_safe} Contact

.abs
  .nav.bg-color.hide
    .row
      .large-4.columns
        %label Period
        %ul
          - collection(YEAR).each do |label, value|
            %li
              = link_to label, images_path(image_params.merge(year: value)), class: [active(:year, value), 'borders']
      .large-4.columns
        %label Subject matter
        %ul
          - collection(SUBJECT_MATTER).each do |label, value|
            %li
              = link_to label, images_path(image_params.merge(subject_matter: value)), class: [active(:subject_matter, value), 'borders']
      .large-4.columns
        %label Technique
        %ul
          - collection(DISCIPLINE).each do |label, value|
            %li
              = link_to label, images_path(image_params.merge(discipline: value)), class: [active(:discipline, value), 'borders']
  
    = link_to inline_svg('times.svg'), '#', class: 'nav-close right'
    .clearfix
