.admin-search
  = search_form_for @q, url: admin_images_path do |f|
    .row
      .large-4.columns
        %label
          Year
          = f.select :year_eq, YEARS
      .large-4.columns
        %label
          Subject matter
          = f.select :subject_matter_eq, SUBJECT_MATTER
      .large-4.columns
        %label
          Technique
          = f.select :discipline_eq, DISCIPLINES

    = f.submit

