= form_for @image, url: [:admin, @image], html: {multipart: true, class: 'clearfix'} do |f|
  -if @image.errors.any? and false
    .row
      .large-6.large-offset-3.columns.error-explanation
        = pluralize(@image.errors.count, "error")
        prohibited this image from being saved:

        %ul
          - @image.errors.full_messages.each do |msg|
            %li= msg

  .row
    .large-9.columns
      %label 
        Title
        = f.text_field :title
    .large-3.columns
      %label 
        Dimensions
        = f.text_field :dimensions

  .row
    .large-3.columns
      %label 
        Year
        = f.select :year, YEARS
    .large-3.columns
      %label 
        Discipline
        = f.select :discipline, DISCIPLINES
    .large-3.columns
      %label 
        Subject matter
        = f.select :subject_matter, SUBJECT_MATTER
    .large-3.columns
      %label 
        Price [if for sale]
        = f.text_field :price

  .row
    .large-6.columns
      %label
        Keywords
        = f.text_area :keywords
    .large-6.columns
      %label
        Description
        = f.text_area :description

  .row
    .large-6.columns
      %label
        Upload
        = f.file_field :upload
    .large-6.columns
      - if @image.upload
        %label
          Preview
          %br
          = image_tag(@image.upload.thumb.url)
          = f.hidden_field :upload_cache

  .row
    .large-6.columns
      = link_to "&laquo; Back".html_safe, admin_images_path, class: 'button radius', onclick: 'history.back(); return false;'
      = button_to "&times; Delete".html_safe, admin_images_path(method: :delete), class: 'button radius alert' unless @image.new_record?
      = f.submit value: "&check; Save".html_safe, class: 'button radius'
