<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' -%>
    <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Gallery Administration</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="admin">
    <div class="container">
      <div class="right new-piece">
        <%= link_to 'New piece', new_admin_image_path, class: 'button radius' -%>
      </div>

      <a href="/admin"><h1 class="admin-heading">Gallery Administration</h1></a>
      <% [:notice, :alert, :error].each do |t| %>
        <% if flash[t] %>
          <div data-alert class="<%= {notice: 'success', error: 'warning', alert: 'info'}[t] -%> alert-box">
            <%= flash[t] %>
            <a href="#" class="close">&times;</a>
        </div>
        <% end %>
      <% end %>

      <%= yield %>
      <%= javascript_include_tag "admin" %>
    </div>
  </body>
</html>
